<section class="todoapp">
        <header class="header">
            <h1>todos</h1>
            <form ng-submit="add()">
                <input class="new-todo" placeholder="What needs to be done?" autofocus ng-model="addName">
            </form>
        </header>
        <section class="main">
            <input class="toggle-all" type="checkbox" ng-click="selectAll()" ng-model="isSelectAll">
            <label for="toggle-all">Mark all as complete</label>
            <ul class="todo-list">
                <li ng-class="{'completed':value.isCompleted,'editing':value.isUpdate}" ng-repeat="value in todoList | filter:{isCompleted:false} track by $index">
                    <div class="view">
                        <input class="toggle" type="checkbox" checked ng-model="value.isCompleted">
                        <label ng-dblclick="update()">{{value.name}}</label>
                        <button class="destroy" ng-click="remove(value.id)"></button>
                    </div>
                    <form ng-submit="save()">
                        <input class="edit" value="Create a TodoMVC template" ng-model="value.name">
                    </form>
                </li>
            </ul>
        </section>
        <footer class="footer">
            <span class="todo-count"><strong ng-bind="count"></strong> item left</span>
            <ul class="filters">
                <li>
                    <a class="selected" href="#/">All</a>
                </li>
                <li>
                    <a href="#/active">Active</a>
                </li>
                <li>
                    <a href="#/completed">Completed</a>
                </li>
            </ul>
            <button class="clear-completed" ng-click="clear()">Clear completed</button>
        </footer>
    </section>